body{
    color: blanchedalmond;
}

.choice-container {
    display: flex;
    background: rgb(30, 30, 117);
    font-size: 3rem;
    margin-bottom: 1rem;
    width:50%;
    border-radius: 4px;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgb(9, 102, 9) 0%, rgb(44, 216, 44) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(173, 11, 11) 0%, rgb(235, 38, 38) 100%);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(7, 70, 7);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(30, 167, 30);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}

#question {
    font-size: 4rem;
}